---
const { text } = Astro.props;
---

<a
  href="/projects"
  class="capitalize bg-pink-500 px-3 py-2 border-b-4 border-r-4 border-pink-400 text-pink-100 inline-flex items-center space-x-2 rounded-2xl hover:bg-pink-600 hover:border-none focus:border-none transition-all"
>
  <span>{text}</span>
</a>
