<section id="features" class="pt-[4em] md:pt-[10em]">
  <div class="mx-auto max-w-6xl px-4 py-4 lg:px-8">
    <div class="text-center max-w-3xl md:mx-auto mb-10 md:mb-12">
      <div
        class="gradient-text font-bold font-heading mb-4 text-4xl md:text-5xl"
      >
        <h2 class="py-2">Pelayanan Terbaik dari Tim yang Tampan & Intelek</h2>
      </div>
      <p class="text-gray-700 text-lg max-w-3xl mx-auto sm:text-center">
        Dengan penuh ketampanan dan keterampilan, tim kami siap memberikan
        pelayanan terbaik dengan penuh cinta dan kasih sayang.
      </p>
    </div>
    <div class="mx-auto grid md:grid-cols-2 md:space-y-0 space-y-6">
      <div class="space-y-8 sm:px-8">
        <div class="flex flex-row max-w-md">
          <div class="mb-4 mr-4">
            <div
              class="flex items-center justify-center rounded-full bg-pink-500 h-12 w-12"
            >
              <svg
                astro-icon="tabler:components"
                class="h-6 w-6 text-white icon-light"
                viewBox="0 0 24 24"
              >
                <g
                  fill="none"
                  class="icon-tabler"
                  stroke="currentColor"
                  strokeLinecap="round"
                  strokeLinejoin="round"
                  strokeWidth="2"
                >
                  <path
                    d="m3 12 3 3 3-3-3-3zM15 12l3 3 3-3-3-3zM9 6l3 3 3-3-3-3zM9 18l3 3 3-3-3-3z"
                  ></path>
                </g>
              </svg>
            </div>
          </div>
          <div>
            <h3 class="text-gray-700 font-bold text-xl mb-3">Plan</h3>
            <p class="text-gray-600">
              Membuat Plan dengan Matang sebelum memulai proses development.
            </p>
          </div>
        </div>
        <div class="flex flex-row max-w-md">
          <div class="mb-4 mr-4">
            <div
              class="flex items-center justify-center rounded-full bg-pink-500 h-12 w-12"
            >
              <svg class="h-6 w-6 text-white icon-light" viewBox="0 0 24 24">
                <path
                  d="M11.667 6C9.177 6 7.623 7.222 7 9.667c.933-1.223 2.023-1.68 3.267-1.375.71.174 1.217.68 1.778 1.24.916.912 2 1.968 4.288 1.968 2.49 0 4.044-1.222 4.667-3.667-.933 1.223-2.023 1.68-3.267 1.375-.71-.174-1.217-.68-1.778-1.24C15.039 7.056 13.98 6 11.667 6zm-4 6.5c-2.49 0-4.044 1.222-4.667 3.667.933-1.223 2.023-1.68 3.267-1.375.71.174 1.217.68 1.778 1.24.916.912 1.975 1.968 4.288 1.968 2.49 0 4.044-1.222 4.667-3.667-.933 1.223-2.023 1.68-3.267 1.375-.71-.174-1.217-.68-1.778-1.24-.916-.912-1.975-1.968-4.288-1.968z"
                  fill="none"
                  stroke="currentColor"
                  strokeLinejoin="round"
                  strokeWidth="2"
                  strokeLinecap="round"></path>
              </svg>
            </div>
          </div>
          <div>
            <h3 class="text-gray-700 font-bold text-xl mb-3">Design</h3>
            <p class="text-gray-600">
              Design yang Moderen dan User Friendly sehingga lebih mudah
              beradaptasi.
            </p>
          </div>
        </div>
      </div>
      <div class="space-y-8 sm:px-8">
        <div class="flex flex-row max-w-md">
          <div class="mb-4 mr-4">
            <div
              class="flex items-center justify-center rounded-full bg-pink-500 h-12 w-12"
            >
              <svg
                astro-icon="tabler:rocket"
                class="h-6 w-6 text-white icon-light"
                viewBox="0 0 24 24"
              >
                <g
                  fill="none"
                  class="icon-tabler"
                  stroke="currentColor"
                  strokeLinecap="round"
                  strokeLinejoin="round"
                  strokeWidth="2"
                >
                  <path
                    d="M4 13a8 8 0 0 1 7 7 6 6 0 0 0 3-5 9 9 0 0 0 6-8 3 3 0 0 0-3-3 9 9 0 0 0-8 6 6 6 0 0 0-5 3"
                  ></path>
                  <path d="M7 14a6 6 0 0 0-3 6 6 6 0 0 0 6-3"></path>
                  <circle cx="15" cy="9" r="1"></circle>
                </g>
              </svg>
            </div>
          </div>
          <div>
            <h3 class="text-gray-700 font-bold text-xl mb-3">Development</h3>
            <p class="text-gray-600">
              Melakukan development dengan cepat namun tetap mengikuti kitab
              best practice yang ada.
            </p>
          </div>
        </div>
        <div class="flex flex-row max-w-md">
          <div class="mb-4 mr-4">
            <div
              class="flex items-center justify-center rounded-full bg-pink-500 h-12 w-12"
            >
              <svg
                astro-icon="tabler:arrows-right-left"
                class="h-6 w-6 text-white icon-light"
                viewBox="0 0 24 24"
              >
                <g
                  fill="none"
                  class="icon-tabler"
                  stroke="currentColor"
                  strokeLinecap="round"
                  strokeLinejoin="round"
                  strokeWidth="2"
                >
                  <path d="M21 7H3M18 10l3-3-3-3M6 20l-3-3 3-3M3 17h18"></path>
                </g>
              </svg>
            </div>
          </div>
          <div>
            <h3 class="text-gray-700 font-bold text-xl mb-3">Delivery</h3>
            <p class="text-gray-600">
              Meng-online-kan aplikasi dengan cepat & seksi, tapi server bukan
              kami yang tanggung ya awokwa.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
