<section
  class="relative w-screen h-screen overflow-hidden flex-1 flex justify-center items-center"
  id="home"
>
  <div
    aria-hidden="true"
    class="absolute inset-0 grid grid-cols-2 -space-x-52 opacity-40 dark:opacity-20"
  >
    <div
      class="blur-[106px] h-56 bg-gradient-to-br from-indigo-500 via-fuchsia-500 to-pink-500"
    >
    </div>
    <div
      class="blur-[106px] h-32 bg-gradient-to-r from-cyan-400 to-sky-300 dark:to-indigo-600"
    >
    </div>
  </div>
  <div
    aria-hidden="true"
    class="absolute inset-0 grid grid-cols-2 -space-x-52 opacity-40 dark:opacity-20"
  >
    <div
      class="blur-[106px] h-56 bg-gradient-to-br from-indigo-500 via-fuchsia-500 to-pink-500"
    >
    </div>
    <div
      class="blur-[106px] h-32 bg-gradient-to-l from-cyan-400 to-sky-300 dark:to-indigo-600"
    >
    </div>
  </div>

  <div
    class="w-full md:w-[800px] xl:w-[900px] flex flex-col justify-center items-center pt-10 md:pt-12 lg:pt-16 text-center"
  >
    <div
      class="flex flex-col space-y-6 font-poppins font-extrabold mb-6 sm:mt-32 mt-16 text-4xl sm:text-6xl lg:text-7xl xl:text-7xl tracking-wide gradient-text px-8 sm:px-20 md:px-24 lg:px-24"
    >
      <h1>Plan</h1>
      <h1>Design</h1>
      <h1>Development</h1>
      <h1>Delivery</h1>
    </div>
    <div
      class="text-gray-700 text-lg lg:text-base xl:text-lg sm:text-base mt-10 px-12 sm:px-48"
    >
      Kami siap membantu membangun bisnis anda menjadi moderen dengan teknologi
      terbaru.
    </div>
    <div class="flex my-[4em] justify-center">
      <a
        href="#features"
        rel="noopener"
        class="absolute z-50 w-80 sm:w-52 h-12 rounded-xl font-bold text-gray-700 border border-solid flex justify-center items-center cursor-pointer bg-customDarkBg2 hover:bg-customDarkBg3 border-customPrimary transition"
      >
        Lanjut Baca
      </a>
    </div>
  </div>
</section>
